<!DOCTYPE html>
<html>
<head>
    <title>My Simple Webpage</title>
    <style>
        .lead {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
            padding-right: 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
        }
    </style>
</head>
<body>
    <a href=""> Go back to leads</a>
    <h1>This is all of our {{lead.first_name}}</h1>
    <p>This persons age: {{ lead.age }}</p>
    
</body>
</html>
